@model IEnumerable<Apfinances.Models.Transaction>

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="get" class="form-search">
    <label for="">Pesquisar por: </label>
    <input class="input-search" type="text" name="filtro" value="@ViewData["filtro"]" placeholder="Ex: "/>
    <button type="submit">Pesquisar</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Installments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueOfInstallments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Installments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueOfInstallments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="EditTransaction" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
